* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header .search {
    
    height: 44px !important;
}


.content{
	width: 1160px;
	height: 490px;
	margin: 0 auto;
	/*border: 1px solid green;*/
}

.title-top{
	color: #777372;
	font-size: 20px;
	
}
.content-head{
	width: 100%;
	height: 36px;
	border-radius: 10px 10px 0px 0px;
	background-color:#fb9c31 ;
	line-height: 36px;
	color:#ffffff
}
.content-body{
	margin-top: 15px;
	width: 100%;
	height: 400px;	
	border: 1px solid #cccccc;
    overflow: hidden;
}
.content-body .pic-left{
	margin: 5px;
	border: 1px solid #cccccc;
	/*width: 300px;*/
	height: 350px;	
	float: left;
	
}
.pic-left p{
	margin-left: 40px;
}

.detaails-right{
	width: 73%;
	height:100%;
	margin-top: 5px;
	float: left;
	
		
}

.detaails-right p{
	width: 100%;
	font-size:16px;
	color: #3f3a39;
	line-height: 40px;
	margin-left: 120px;
	
	
}


.detaails-right .btn-ok{
	background-color: #f0830f;
  	display: inline-block;
    height: 53px;
    line-height: 50px;
    position: relative;
    text-align: center;
    width: 230px !important;
    border-radius: 12px;
    margin-left: 120px;
    color: #fff;
}

.detaails-right .btn-cencel{
	background-color: #ababab;
  	display: inline-block;
    height: 53px;
    line-height: 50px;
    position: relative;
    text-align: center;
    width: 230px !important;
    border-radius: 12px;
    color:#fff;
}

.detaails-right label:first-child{
	margin-right: 20px;
}

.foot-btn{
	margin-top: 50px;
	margin-left: 20px;
}

.pic-left .small-font{
	font-size: 14px;
	color: #696969;
	
}
