@charset "utf-8";
body,html{
    font-family: '微软雅黑';
    background-color: #F3F3F4;;
}
.userBaseInfo{
    background-color: #ffffff;
    border-top: 4px solid #E5E5E5;
    margin-top: 10px;
    padding:14px 14px 20px 14px;
}
.clearfix{
    　　zoom:1;
}

.clearfix:after{
    content:"";
    display:block;
    clear:both;
}
.ibox-content {
    background-color: #F3F3F4 !important;
    color: inherit;
    /* padding: 15px 20px 20px; */
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
}
.goBack{
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    background-color: #bfbfbf;
    margin-right: 20px;

}
.cursor{
    cursor: pointer;
}
.editBtn{
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    background-color: #ff7d00;
    text-align: center;
    border-radius:4px;
    font-size: 13px;
    margin-right: 20px;
}
.btnBlock{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
}
.titleTip{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titleTip span{
    font-size: 15px;
    font-weight: 900;
    line-height: 38px;
}
.baseInfoLeft{
    border: 1px solid #E7EAEC;
    border-right: 0;
    list-style: none;
    padding: 0;
}
.baseInfoRight{
    border: 1px solid #E7EAEC;
    list-style: none;
    padding: 0;
}
.baseInfoLeft li,.baseInfoRight li{
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    border-bottom: 1px solid #E7EAEC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.baseInfoLeft li:last-child,.baseInfoRight li:last-child{
    border-bottom: 0;
}
.infoTip{
    font-size: 12px;
    color: #666666;
}
.infoValue{
    font-size: 12px;
    color: #333333;
}
.rateValue{
    color: #ff7d00;
    text-decoration: underline;
}
table thead th{
    text-align: center;
    font-size: 14px;
    font-family: "微软雅黑";
    background-color: #ffffff !important;
}
table tbody tr td{
    text-align: center;
    font-size: 14px;
    font-family: "微软雅黑";
    background-color: #ffffff !important;
}

#imgBox {
    text-align: left;
}

.imgContainer {
    display: inline-block;
    width: 190px;
    height: 130px;
    margin-left: 1%;
    border: 1px solid #666666;
    position: relative;
    margin-top: 30px;
    box-sizing: border-box;
}

.imgContainer img {
    width: 100%;
    height: 128px;
    cursor: pointer;
}