.banner-bottom {
	background: url("../img/bg1.jpg"); padding-top: 35px; min-height: 250px;
}
.blog-div-3 {
	background: url("../img/bg-blog2.jpg"); height: 450px; color: rgb(255, 255, 255);
}
.blog-div-3-cen {
	padding-top: 30px;
}
.blog-div-3-cen p {
	line-height: 25px; letter-spacing: 1.5px;
}
.bb-title {
	font-size: 14px; font-weight: bold;
}
.bb-num {
	color: rgb(255, 0, 0); font-family: "ו"; font-size: 22px; margin-right: 20px;
}
.blog {
	background: rgb(255, 255, 255); border-radius: 0px;
}
.blog-li {
	padding-top: 15px;
}
.mall-de-con {
	margin-top: 30px;
}
.mall-de-con h3 {
	font-family: "microsoft yahei";
}
.mall-de-con h4 {
	font-family: "microsoft yahei";
}
.mall-de-con h5 {
	font-family: "microsoft yahei";
}
.mall-de h3 {
	font-family: "microsoft yahei";
}
.mall-de h4 {
	font-family: "microsoft yahei";
}
.mall-de h5 {
	font-family: "microsoft yahei";
}
.mall-de div {
	color: rgb(221, 23, 38); font-size: 24px;
}
.mall-price {
	color: rgb(221, 23, 38); font-size: 24px;
}
.mall-de-doc {
	background: rgb(0, 0, 0); border: 1px solid rgb(204, 204, 204); border-image: none; width: 360px; padding-bottom: 10px; margin-bottom: 60px; opacity: 0.5;
}
.mall-de-doc h3 {
	font-family: "microsoft yahei";
}
.mall-de-doc p {
	font-family: "microsoft yahei";
}
.mall-de-doc div {
	font-family: "microsoft yahei";
}
.chongdian-main {
	background: url("../img/chongdian.jpg"); height: 570px;
}
.chongdian-de-1 {
	color: rgb(255, 255, 255); letter-spacing: 2.2px; padding-top: 30%; padding-left: 10%; font-size: 32px;
}
.chongdian-de-2 {
	color: rgb(230, 230, 230); letter-spacing: 2px; padding-top: 20px; padding-left: 15%; font-size: 18px;
}
.chongdian-de-3 {
	color: rgb(230, 230, 230); letter-spacing: 2px; padding-top: 40px; padding-left: 15%; font-size: 18px;
}
.app-main {
	background: rgb(255, 255, 255); padding: 0px; border-radius: 0px; border: 0px currentColor; border-image: none; margin-bottom: 0px; box-shadow: 0px 0px 0px #fff;
}
.register {
	background: url("../img/50.jpg"); padding-top: 15px; padding-bottom: 80px; margin-top: 30px; min-height: 250px;
}
.blog-bread {
	background: url("../img/bg-bread.png"); min-height: 80px;
}
.blog-bread .title {
	color: rgb(255, 255, 255); padding-top: 20px; padding-left: 15px; font-family: "microsoft yahei"; margin-top: 0px; float: left;
}
.bread {
	background: none; padding-top: 30px; float: right;
}
.bread li {
	color: rgb(255, 255, 255);
}
.bread li a {
	color: rgb(255, 0, 0);
}
.blog-detail-con {
	background: rgb(241, 241, 241); padding-top: 15px; padding-bottom: 80px; min-height: 250px;
}
.blog-detail-left {
	background: rgb(255, 255, 255); margin-top: 0px; margin-right: 0px; margin-left: 15px; min-height: 450px;
}
.blog-detail-right {
	background: rgb(255, 255, 255); margin-top: 0px; margin-right: 15px; margin-left: 0px; min-height: 450px;
}
.blog-detail-left .title {
	color: rgb(0, 0, 0); padding-top: 15px; font-family: "microsoft yahei";
}
.blog-detail-left .zhaiyao {
	background: rgb(247, 247, 247); padding: 15px 10px; text-indent: 20px;
}
.blog-detail-left .content {
	padding: 15px 10px; color: rgb(0, 0, 0);
}
.blog-detail-left .content p {
	text-indent: 20px;
}
.bold-hr {
	background: rgb(0, 0, 0); margin: 10px 10px 0px; height: 3px;
}
.min-hr {
	margin: 0px 10px 10px;
}
.right-title {
	padding: 5px 10px; color: rgb(255, 0, 0); font-size: 16px; font-weight: bold;
}
.detail-right-item {
	padding-left: 25px; margin-left: 0px; list-style-type: disc;
}
.detail-right-item li {
	padding: 10px 0px 0px;
}
.erweima {
	padding-top: 0px; padding-bottom: 0px; padding-left: 10px;
}
.erweima .con {
	margin-left: 15px; float: left;
}
.comments {
	padding-right: 10px; padding-left: 10px;
}
.allcomments {
	padding-right: 10px; padding-left: 10px; margin-top: 15px;
}
.comentsitem {
	padding-left: 10px; float: left;
}
.comentsitem .name {
	color: rgb(255, 0, 0); font-size: 14px; font-weight: bold;
}
.comentsitem .c {
	padding: 5px 0px;
}
