<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanma.ims.mapper.PurchaseHistoryMapper">
	<resultMap type="PurchaseHistoryDO" id="purchaseHistory">
		<result property="pkPurchaseHistory" column="pk_PurchaseHistory" />
		<result property="puHiType" column="puHi_Type" />
		<result property="puHiPurchaseHistoryTime" column="puHi_PurchaseHistoryTime" />
		<result property="puHiMonetary" column="puHi_Monetary" />
		<result property="puHiConsumerRemark" column="puHi_ConsumerRemark" />
		<result property="puHiCreatedate" column="puHi_Createdate" />
		<result property="puHiUpdatedate" column="puHi_Updatedate" />
		<result property="puHiPurchaseContent" column="puHi_PurchaseContent" />
		<result property="puHiUserId" column="puHi_UserId" />
		<result property="puHiChargeType" column="puHi_ChargeType" />
		<result property="puHiUserOrigin" column="puHi_UserOrigin" />
		<result property="puHiElectricPileCode" column="puHi_ElectricPileCode" />
		<result property="puHiExternalCardNumber" column="puHi_ExternalCardNumber" />
		<result property="puHiTransactionNumber" column="puHi_TransactionNumber" />
		<result property="puHiBespokeNumber" column="puHi_BespokeNumber" />
		<result property="puHiPaymentNumber" column="puHi_PaymentNumber" />
		<result property="puhiInvoiceStatus" column="puhi_InvoiceStatus" />
		<result property="pkInvoice" column="pk_Invoice" />
		<result property="accountId" column="account_id" />
		<result property="accountNO" column="account_no" />
		<result property="chOrCode" column="chOr_Code" />
		<result property="tradeType" column="trade_type" />
		<result property="billAccountCode" column="bill_account_code" />
		<result property="billAccountName" column="bill_account_name" />
		<result property="userAccount" column="user_account" />
	</resultMap>
	
	<resultMap type="UserAccountBO" id="userAccount">
		<result property="chongzhi" column="chongzhi" />
		<result property="xiaofei" column="xiaofei" />
		<result property="youhui" column="youhui" />
		<result property="dongjie" column="dongjie" />
		<result property="yue" column="yue" />
	</resultMap>
	
	<select id="getPurchaseHistoryCount" parameterType="PurchaseHistoryDO" resultType="long">
		SELECT
			 COUNT(*)
		FROM
			 TBL_PURCHASEHISTORY b
			INNER JOIN FIN_BILL_ACCOUNT t on b.puHi_Type = t.pk_id
			INNER JOIN FIN_ACCOUNT a on b.account_id = a.account_id
			<if test="userAccount != null and userAccount != '' and flag != null">
			    INNER JOIN fin_account_relation e on e.account_id = b.account_id and e.user_id = b.puHi_UserId and e.bill_account_id = t.pk_id 
		    </if>
			LEFT JOIN tbl_user u on b.puHi_UserId = u.user_id
			LEFT JOIN TBL_CHARGINGORDER c on c.chOr_TransactionNumber = b.puHi_TransactionNumber
		WHERE 1=1
		<if test="puHiTransactionNumber != null and puHiTransactionNumber !=''">
		  and b.puHi_TransactionNumber like concat('%',#{puHiTransactionNumber},'%')
		</if>
		<if test="chOrCode != null and chOrCode !=''">
		  and c.chOr_Code = #{chOrCode}
		</if>
		<if test="accountNO != null and accountNO !=''">
		  and a.account_no = #{accountNO}
		</if>
		<if test="tradeType != null">
		  and a.trade_type = #{tradeType}
		</if>
		<if test="billAccountCode != null and billAccountCode !=''">
		  and t.bill_account_code = #{billAccountCode}
		</if>
		<if test="pkPurchaseHistory != null">
		  and b.pk_PurchaseHistory = #{pkPurchaseHistory}
		</if>
		<if test="startGmtCreate != null and startGmtCreate !=''">
	        and <![CDATA[date_format(b.puHi_Createdate,'%Y-%m-%d') >= #{startGmtCreate}]]>
	    </if>
	    <if test="endGmtCreate != null and endGmtCreate !=''">
	        and <![CDATA[date_format(b.puHi_Createdate,'%Y-%m-%d') <= #{endGmtCreate}]]>
	    </if>
		<if test="userAccount != null and userAccount != ''">
			and u.user_account = #{userAccount}
		</if>
	</select>
	
	<select id="getPurchaseHistoryList" parameterType="PurchaseHistoryDO" resultMap="purchaseHistory">
		SELECT
			 b.pk_PurchaseHistory, b.puHi_Type, b.puHi_PurchaseHistoryTime, b.puHi_Monetary, b.puHi_ConsumerRemark, 
			 b.puHi_Createdate, b.puHi_Updatedate, b.puHi_PurchaseContent, b.puHi_UserId, b.puHi_ChargeType, 
			 b.puHi_UserOrigin, b.puHi_ElectricPileCode, b.puHi_ExternalCardNumber, b.puHi_TransactionNumber, 
			 b.puHi_BespokeNumber, b.puHi_PaymentNumber, b.puhi_InvoiceStatus, b.pk_Invoice, a.account_id, a.account_no,
			 c.chOr_Code, a.trade_type, t.bill_account_code, t.bill_account_name, u.user_account
		FROM
			 TBL_PURCHASEHISTORY b
			INNER JOIN FIN_BILL_ACCOUNT t on b.puHi_Type = t.pk_id
			INNER JOIN FIN_ACCOUNT a on b.account_id = a.account_id
            <if test="userAccount != null and userAccount != '' and flag != null">
			    INNER JOIN fin_account_relation e on e.account_id = b.account_id and e.user_id = b.puHi_UserId and e.bill_account_id = t.pk_id 
		    </if>
			LEFT JOIN tbl_user u on b.puHi_UserId = u.user_id
			LEFT JOIN TBL_CHARGINGORDER c on c.chOr_TransactionNumber = b.puHi_TransactionNumber
		WHERE 1=1
		<if test="puHiTransactionNumber != null and puHiTransactionNumber !=''">
		  and b.puHi_TransactionNumber like concat('%',#{puHiTransactionNumber},'%')
		</if>
		<if test="chOrCode != null and chOrCode !=''">
		  and c.chOr_Code = #{chOrCode}
		</if>
		<if test="accountNO != null and accountNO !=''">
		  and a.account_no = #{accountNO}
		</if>
		<if test="tradeType != null">
		  and a.trade_type = #{tradeType}
		</if>
		<if test="billAccountCode != null and billAccountCode !=''">
		  and t.bill_account_code = #{billAccountCode}
		</if>
		<if test="pkPurchaseHistory != null">
		  and b.pk_PurchaseHistory = #{pkPurchaseHistory}
		</if>
		<if test="startGmtCreate != null and startGmtCreate !=''">
	        and <![CDATA[date_format(b.puHi_Createdate,'%Y-%m-%d') >= #{startGmtCreate}]]>
	    </if>
	    <if test="endGmtCreate != null and endGmtCreate !=''">
	        and <![CDATA[date_format(b.puHi_Createdate,'%Y-%m-%d') <= #{endGmtCreate}]]>
	    </if>
		<if test="userAccount != null and userAccount != ''">
			and u.user_account = #{userAccount}
		</if>
		order by b.pk_PurchaseHistory desc
        <if test="pager!=null">limit #{pager.offset},#{pager.pageSize}</if>
	</select>
	
	<select id="getUserAccount" parameterType="AccountBalanceBO" resultMap="userAccount">
		select SUM(r.chongzhi) as chongzhi, SUM(r.xiaofei) as xiaofei, SUM(r.youhui) as youhui, SUM(r.dongjie) as dongjie, SUM(r.yue) as yue
		from (
			<!-- 总充值 -->
			select (SUM(s.chongzhi) - SUM(s.tuikuan)) as chongzhi, 0 as xiaofei, 0 as youhui, 0 as dongjie, 0 as yue
			from
			(<!-- 充值 -->
			select SUM(p.puHi_Monetary) as chongzhi, 0 as tuikuan
			from tbl_purchasehistory p
-- 			INNER JOIN fin_account_relation e on e.account_id = p.account_id
-- 			AND e.user_id = p.puHi_UserId AND priority =1 AND bill_account_id = 4
			where p.puHi_Type = 4 and p.puHi_UserId = #{userId}
			union 
			<!-- 充值退款 -->
			select 0, SUM(p.puHi_Monetary)
			from tbl_purchasehistory p
-- 			INNER JOIN fin_account_relation e on e.account_id = p.account_id
-- 			AND e.user_id = p.puHi_UserId AND priority =1 AND bill_account_id = 14
			where p.puHi_Type = 14 and p.puHi_UserId = #{userId}) s
			UNION
			<!-- 总消费 -->
			select 0, SUM(o.chOr_Moeny), 0, 0, 0
			from tbl_chargingorder o
			where o.chOr_ChargingStatus in (2, 3) and o.chOr_UserId = #{userId}
			UNION
			<!-- 总优惠 -->
			select 0, 0, SUM(o.chOr_CouponMoney), 0, 0
			from tbl_chargingorder o
			where o.chOr_ChargingStatus in (2, 3) and o.chOr_UserId = #{userId}
			UNION
			<!-- 总冻结 -->
			select 0, 0, 0, SUM(p.puHi_Monetary), 0
			from tbl_purchasehistory p
			inner join tbl_chargingrecord o
			on p.puHi_TransactionNumber = o.chRe_TransactionNumber
			where o.chRe_Status in (0, 2, 4) and p.puHi_UserId = #{userId}
			UNION
			<!-- 余额 -->
			SELECT 0, 0, 0, 0, SUM(c.accountBalance)
			FROM (SELECT (a.account_balance + a.account_present) accountBalance
					FROM fin_account a
					<choose>
						<when test="cpyType == 0">
							INNER JOIN tbl_user_normal t ON a.account_id = t.account_id
						</when>
						<otherwise>
							INNER JOIN tbl_user_company t ON a.account_id = t.account_id
						</otherwise>
					</choose>
			    	WHERE t.user_Id = #{userId}
					) c
			) r
	</select>
	
	<select id="getCardAccount" parameterType="String" resultMap="userAccount">
		select SUM(r.chongzhi) as chongzhi, SUM(r.xiaofei) as xiaofei, SUM(r.youhui) as youhui, SUM(r.dongjie) as dongjie, SUM(r.yue) as yue
		from (
			select (SUM(s.chongzhi) - SUM(s.tuikuan)) as chongzhi, 0 as xiaofei, 0 as youhui, 0 as dongjie, 0 as yue
			from
			(
			select SUM(p.puHi_Monetary) as chongzhi, 0 as tuikuan
			from tbl_purchasehistory p
			inner join tbl_usercard u on u.user_Id = p.puHi_UserId
			INNER JOIN fin_account_relation e on e.account_id = p.account_id and e.user_id = p.puHi_UserId 
			where p.puHi_Type = 4 and u.uc_id = #{cardId}
			union
			select 0, SUM(p.puHi_Monetary)
			from tbl_purchasehistory p
			inner join tbl_usercard u on u.user_Id = p.puHi_UserId
			INNER JOIN fin_account_relation e on e.account_id = p.account_id and e.user_id = p.puHi_UserId 
			where p.puHi_Type = 14 and u.uc_id = #{cardId}) s
			UNION
			select 0, SUM(o.chOr_Moeny), 0, 0, 0
			from tbl_chargingorder o
			inner join tbl_usercard u on u.user_Id = o.chOr_UserId
			where o.chOr_ChargingStatus in (2, 3) and u.uc_id = #{cardId}
			UNION
			select 0, 0, SUM(o.chOr_CouponMoney), 0, 0
			from tbl_chargingorder o 
			inner join tbl_usercard u on u.user_Id = o.chOr_UserId
			where o.chOr_ChargingStatus in (2, 3) and u.uc_id = #{cardId}
			UNION
			select 0, 0, 0, SUM(p.puHi_Monetary), 0
			from tbl_purchasehistory p
			inner join tbl_chargingrecord o
			on p.puHi_TransactionNumber = o.chRe_TransactionNumber
			inner join tbl_usercard u on u.user_Id = p.puHi_UserId
			where o.chRe_Status in (0, 2, 4) and u.uc_id = #{cardId}
			UNION
			SELECT 0, 0, 0, 0, a.account_balance
		    FROM tbl_usercard uc
	    	INNER JOIN fin_account a ON a.account_id = uc.account_id
			WHERE uc.uc_status != 3 and uc.uc_id = #{cardId}
			) r
	</select>
	
	<select id="selectTransNumberByInvoiceId" parameterType="Long" resultType="string">
	    select puHi_TransactionNumber from tbl_purchasehistory where pk_Invoice = #{invoiceId}
	</select>
	
	
	<!-- 添加消费记录 -->
	<insert id="addPurchaseHistory" useGeneratedKeys="true" parameterType="PurchaseHistoryDO" keyProperty="pk_PurchaseHistory">
		INSERT INTO TBL_PURCHASEHISTORY
		(pk_PurchaseHistory, puHi_Type,puHi_PurchaseHistoryTime, puHi_Monetary, puHi_ConsumerRemark, 
		puHi_PurchaseContent, puHi_UserId, puHi_ChargeType, puHi_UserOrigin, puHi_ElectricPileCode,puHi_ExternalCardNumber,
		puHi_TransactionNumber, puHi_PaymentNumber, puhi_InvoiceStatus,pk_Invoice, account_Id)
		VALUES
		(null,#{puHiType},#{puHiPurchaseHistoryTime},#{puHiMonetary},#{puHiConsumerRemark},
		#{puHiPurchaseContent},#{puHiUserId},#{puHiChargeType},#{puHiUserOrigin},#{puHiElectricPileCode},#{puHiExternalCardNumber},
		#{puHiTransactionNumber},#{puHiPaymentNumber},#{puhiInvoiceStatus},#{pkInvoice},#{accountId})
	</insert>

	<select id="getPurchaseHistoryForBatch" parameterType="PurchaseHistoryDO" resultMap="purchaseHistory">
		SELECT b.puHi_TransactionNumber, b.puHi_Monetary
		FROM TBL_PURCHASEHISTORY b
		WHERE b.puHi_Type = 1 and b.puHi_UserId = #{puHiUserId} and b.puHi_TransactionNumber = #{puHiTransactionNumber}
	</select>
</mapper>