<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanma.dao.CmsCarTypeMapper">
	<resultMap type="TblCarinfo" id="result_car">
		<result property="pkCarinfo" column="pk_CarInfo" />
		<result property="carinfoStylename" column="CarInfo_StyleName" />
		<result property="carinfoMaxodometer" column="CarInfo_MaxOdometer" />
		<result property="carinfoBatterycapacity" column="CarInfo_BatteryCapacity" />
		<result property="carinfoCreatedate" column="CarInfo_CreateDate" />
		<result property="carinfoUpdatedate" column="CarInfo_UpdateDate" />
		<result property="carinfoRemark" column="CarInfo_Remark" />
		<result property="carinfoBrandicon" column="CarInfo_BrandIcon" />
		<!-- <result property="carinfoBrandname" column="CarInfo_BrandName" /> -->
		<result property="carInfocarstatus" column="CarInfo_CarStatus" />
	</resultMap>
	
	<!-- 查询车辆类型列表 -->
	<select id="searchCarList" parameterType="TblCarinfo" resultMap="result_car">
		SELECT 
			pk_CarInfo,CarInfo_StyleName,CarInfo_BrandName
		FROM tbl_CarInfo 
		WHERE CarInfo_CarStatus = 0 AND CarInfo_CompanyId = #{carinfoCompanyId}
		
	</select>
</mapper>