@charset "utf-8";
/* CSS Document */

html,body,div,ul,li,dl,dt,dd,p{ margin:0; padding:0; list-style:none;}
html, body, #wrapper{height: 100%;}
body{ background-color:#eee; font-family:"微软雅黑";height: 100%;}
#wrapper {height: auto; min-height: 100%;padding-bottom:60px;}
a{ text-decoration:none;cursor:pointer;}
.mar_center{ margin:0 auto; width:1000px;}

/*导航*/
.NavWarp{ height:60px; background:#ff8800;}
.Nav{ margin:0 auto; width:1000px; height:60px; background-image:url(../images/img/phone400.png); _background-image:url(../images/img/phone400.gif); background-position:right center; background-repeat:no-repeat; /*background:#000;*/}
.Logo{ width:180px; height:60px; background-image:url(../images/img/logo.png); _background-image:url(../images/img/logo.gif); background-position:left center; background-repeat:no-repeat; float:left;}
.NavMu{ /*width:700px;*/ float:left;}
.NavMu ul{ margin-top:15px; float:left;}
.NavMu ul li a{ color:#fff; text-decoration: none;}
.NavMu ul li.ab,li.abc,.NavMu ul li.abcd,.NavMu ul li.ab-a,.NavMu ul li.abcd-a,.NavMu ul li.ab-h,.NavMu ul li.abcd-h{ float:left; height:30px; line-height:30px; font-size:16px; text-align:center; color:#FFF;}
.NavMu ul li:hover{background-image:url(../images/img/navbg.png);}
.NavMu ul li.abcd{ width:90px;}
.NavMu ul li.abcd{  background-position:center 0px; background-repeat:no-repeat; margin-right:5px; }
.NavMu ul li.abcd:hover{   background-position:center -80px; background-repeat:no-repeat;}
.NavMu ul li.ab{ width:50px; margin-left:5px;}
.NavMu ul li.ab:hover{background-position:center -120px; background-repeat:no-repeat;}
.NavMu ul li.abc{ width:50px; margin-left:5px;}
.NavMu ul li.abc:hover{background-position:center -1120px; background-repeat:no-repeat;}
.NavMu ul li.select{background-image:url(../images/img/navbg.png);background-position:center -40px;}
.NavMu ul li.select2{background-image:url(../images/img/navbg.png);background-position:center 0px;}
.NavMu ul.HasLogged{ height:40px; /* border-left:2px #FFFFFF solid;*/ margin-top:15px; margin-left:10px;}
.HasLogged li.Nickname{ font-size:14px; font-weight:bold; color:#FFF;}
.HasLogged li.Nickname:hover{ background:#ff8800;}
.HasLogged li.Logout{ font-size:12px; color:#FFF;}
.HasLogged li.Logout:hover{ background:#ff8800;}
.NavMu ul.Login{ margin-left:30px; background:url(../images/img/vertical.jpg) center center no-repeat;}
.online ul li.select{background-image:url(../images/img/navbg.png);background-position:center 0px;}
/*==活动及资讯==*/
.huodongBanner{ width: 100%; max-width: 1920px; margin: 0 auto; position: relative; height: 400px; overflow-x:hidden;}
.huodongBanner a{ display:block; height:400px;}
.hdChannes{ padding-top:40px; padding-bottom:40px;}
p.Bread{ font-size:24px; color:#666;}

.articleTitle{ text-align:center; font-size:30px; color:#333; height:80px; line-height:80px; border-bottom:1px #ccc solid;}
.articleSubtitle{ text-align:center; font-size:14px; height:50px; line-height:50px; color:#666;}
.article{ line-height:32px; font-size:17px; text-align:center;}
.article p{ text-align:left; text-indent:2em; padding-top:20px;}
.article img{ margin-top:20px; border:1px solid #ddd;}
.article span{ display:block; font-style:normal; font-size:14px; color:#666;}
.ChannelN{ height:30px; line-height:30px; text-align:center; font-size:24px; color:#666; float:left;}
.ChannelN a{ height:30px; line-height:30px; text-align:center; font-size:24px; color:#666; float:left;}
.ChannelN a:hover{ height:30px; line-height:30px; text-align:center; font-size:24px; color:#f80; float:left;}
.back{ padding-top:20px; text-align:center;}
.back img{ border:0;}

/*首页通栏大图*/
.ImgShow{ height:650px; background:#fff; margin-top:0px; margin-bottom:5px;}

/*首页的精彩活动&行业资讯*/
.Wonderful{ height:500px; background:#fff; margin-top:5px;}
.cont_left{ width:300px; float:left;}
.cont_right{ width:660px; float:right;}

.tu_left{ margin-top:150px;}
.tu_left dt{ width:30px; height:150px; float:left; margin-top:8px;}
.tu_left dd{ width:250px; height:80px; float:left; margin-left:20px;}
.tu_left dd a{ display:block; margin-top:10px;}
.tu_left dt img,.tu_left dd img,.tu_left dd a img{ border:0;}
.tu_right,.tu_right li{ margin:0; padding:0; list-style:none;}
.tu_right{ margin-top:40px;}
li.Section{ height:30px;}
li.Section a{ font-size:24px; color:#999; text-decoration:none;}
li.Section a img{ float:right; border:0;}
li.EM{ height:290px; width:660px; background-color:#eeeeee; text-align:center; margin-top:15px;}
li.EM img,li.EM a img{ border:10px #eeeeee solid;}
li.EM a{ font-size:16px; color:#F80;}
li.Row{ height:40px; line-height:40px; border-bottom:1px #eee dashed; background-image:url(../images/img/pontion.png); background-position:5px 15px ; background-repeat:no-repeat;}
li.Row:hover{ height:40px; line-height:40px; border-bottom:1px #ddd dashed; background:#f6f6f6; background-image:url(../images/img/pontion.png); background-position:5px -35px ; background-repeat:no-repeat;}
li.Row span{ float:right; font-size:13px; color:#999; margin-right:5px;}
li.Row a{ font-size:16px; color:#838383; padding-left:20px;} 
li.Row a:hover{ font-size:16px; color:#666; padding-left:20px;} 

/*首页关于我们*/
.about_left{ width:400px; float:left; margin-top:60px;}
.about_right{ width:520px; float:right; color:#838383; margin-top:30px;}
.about_right dl{ margin-top:30px;}
.about_right dl dt{ font-size:24px;}
.about_right dl dd{ font-size:16px; line-height:26px; margin-top:10px;}
.about_right dl dd a img{ border:0;}
/*首页合作商家*/
.hezuoshangjia{ padding-top:25px;}
.hezuoshangjia dt{ height:50px; line-height:50px; text-align:center; font-size:24px; color:#838383; padding-bottom:20px;}
.hezuoshangjia dd{ text-align:center;}

.WeiboFull{ height:200px; background:#fff; margin-top:5px;}
.Weibo{ padding-top:25px;}
.Weibo dt{ height:50px; line-height:50px; text-align:center; font-size:24px; color:#838383; padding-bottom:20px;}
.Weibo dd{ padding-left:415px;}
.Weibo dd div{ display:block; float:left; width:60px; height:60px; margin-right:60px;}

.WeiboShow{ position:relative;}
.WeiboShow .WeiboShowImg{ width:150px; height:auto; position:relative; display:none; top:-130px; left:-160px; z-index:999;}
.WeiboShow:hover .WeiboShowImg{ display:block;}

@media screen and (max-width: 480px) {
/*首页一行四列的四个图标*/
.container{ width: 100%; overflow: hidden;}
.col-four-1,.col-four-2,.col-four-3,.col-four-4{ width:100%; background-color:#eee; float:left;}
.col-four-1 a{ display:block; width:100%; height:180px; margin:5px 0px 0px 0px; _margin:3px 0px 0px 0px; background-image:url(../images/img/four-1.png); _background:url(../images/img/four-1.gif); background-repeat:no-repeat; background-position:center; background-color:#fff;}
.col-four-2 a{ display:block; width:100%; height:180px; margin:5px 0px 0px 0px; _margin:3px 0px 0px 0px; background-image:url(../images/img/four-2.png); _background:url(../images/img/four-2.gif); background-repeat:no-repeat; background-position:center; background-color:#fff;}
.col-four-3 a{ display:block; width:100%; height:180px; margin:5px 0px 0px 0px; _margin:3px 0px 0px 0px; background-image:url(../images/img/four-3.png); _background:url(../images/img/four-3.gif); background-repeat:no-repeat; background-position:center; background-color:#fff;}
.col-four-3 a:hover{ display:block; width:100%; height:180px; margin:5px 0px 0px 0px; _margin:3px 0px 0px 0px; background-image:url(../images/img/appdownloadopen.png); background-repeat:no-repeat; background-position:center; background-color:#fff;}
.col-four-4 a{ display:block; width:100%; height:180px; margin:5px 0px 0px 0px; _margin:3px 0px 0px 0px; background-image:url(../images/img/four-4.png); _background:url(../images/img/four-4.gif); background-repeat:no-repeat; background-position:center; background-color:#fff;}
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
/*首页一行四列的四个图标*/
.container{ width: 100%; overflow: hidden;}
.col-four-1,.col-four-2,.col-four-3,.col-four-4{ width:50%; *width:49.9%; _width:49.5%; background-color:#eee; float:left;}
.col-four-1 a{ display:block; width:100%; height:180px; margin:5px 5px 5px 0px; _margin:5px 2px 2px 0px; background-image:url(../images/img/four-1.png); _background:url(../images/img/four-1.gif); background-repeat:no-repeat; background-position:center; background-color:#fff;}
.col-four-2 a{ display:block; width:100%; height:180px; margin:5px 0px 5px 5px; _margin:5px 0px 2px 2px; background-image:url(../images/img/four-2.png); _background:url(../images/img/four-2.gif); background-repeat:no-repeat; background-position:center; background-color:#fff;}
.col-four-3 a{ display:block; width:100%; height:180px; margin:0px 5px 5px 0px; _margin:3px 2px 2px 0px; background-image:url(../images/img/four-3.png); _background:url(../images/img/four-3.gif); background-repeat:no-repeat; background-position:center; background-color:#fff;}
.col-four-3 a:hover{ display:block; width:100%; height:180px; margin:0px 5px 5px 0px; _margin:3px 2px 2px 0px; background-image:url(../images/img/appdownloadopen.png); background-repeat:no-repeat; background-position:center; background-color:#fff;}
.col-four-4 a{ display:block; width:100%; height:180px; margin:0px 0px 5px 5px; _margin:3px 0px 2px 2px; background-image:url(../images/img/four-4.png); _background:url(../images/img/four-4.gif); background-repeat:no-repeat; background-position:center; background-color:#fff;}
}

@media screen and (min-width:1024px) {
/*首页一行四列的四个图标*/
.container{ width: 100%; overflow: hidden;}
.col-four-1,.col-four-2,.col-four-3,.col-four-4{ width:25%; *width:24.9%; _width:24.7%; background-color:#eee; float:left;}
.col-four-1 a{ display:block; width:100%; height:180px; margin:5px 5px 5px 0px; _margin:5px 2px 2px 0px; background-image:url(../images/img/four-1.png); _background:url(../images/img/four-1.gif); background-repeat:no-repeat; background-position:center; background-color:#fff;}
.col-four-2 a{ display:block; width:100%; height:180px; margin:5px; _margin:2px; _margin-top:5px; background-image:url(../images/img/four-2.png); _background:url(../images/img/four-2.gif); background-repeat:no-repeat; background-position:center; background-color:#fff;}
.col-four-3 a{ display:block; width:100%; height:180px; margin:5px; _margin:2px; _margin-top:5px; background-image:url(../images/img/four-3.png); _background:url(../images/img/four-3.gif); background-repeat:no-repeat; background-position:center; background-color:#fff;}
.col-four-3 a:hover{ display:block; width:100%; height:180px; margin:5px; _margin:2px; _margin-top:5px; background-image:url(../images/img/appdownloadopen.png); background-repeat:no-repeat; background-position:center; background-color:#fff;}
.col-four-4 a{ display:block; width:100%; height:180px; margin:5px 0px 5px 5px; _margin:5px 0px 2px 2px; background-image:url(../images/img/four-4.png); _background:url(../images/img/four-4.gif); background-repeat:no-repeat; background-position:center; background-color:#fff;}
}





/*============================各子页面==================================*/

/*地图列表*/
.Column{ height:100px; background:#f6f6f6;}
.Channel{ padding-top:40px;}
.ChannelNav{ width:120px; height:30px; line-height:24px; text-align:center; font-size:24px; color:#666; float:left; margin-right:30px;}
.ChannelNav a.unshow{ width:120px; height:30px; line-height:30px; text-align:center; font-size:16px; color:#fff; float:left; background-image:url(../images/img/liebg.png); background-position:center center; background-repeat:no-repeat;}
.ChannelNav a.unshow:hover{ width:120px; height:30px; line-height:30px; text-align:center; font-size:16px; color:#fff; float:left; background-image:url(../images/img/liebgH.png); background-position:center center; background-repeat:no-repeat;}
.ChannelNav a{ font-size:24px; }
.ChannelNav2 a.search{ width:120px; height:30px; line-height:30px; text-align:center; font-size:16px; color:#fff; float:left; background-image:url(../images/img/liebg.png); background-position:center center; background-repeat:no-repeat;}
.ChannelNav2 a.search:hover{ width:120px; height:30px; line-height:30px; text-align:center; font-size:16px; color:#fff; float:left; background-image:url(../images/img/liebgH.png); background-position:center center; background-repeat:no-repeat;}.Search{ width:380px; height:30px; float:right;}
.Search select{ list-style:none; margin:0; padding:0; width:74; height:30px; border:0; background:url(../images/img/seachBgA.png); background-repeat:no-repeat; float:left; padding-left:10px;}
.Search select option{ padding-left:10px;}
.Search input{ list-style:none; margin:0; padding:0; width:310px; height:30px; border:0; background:url(../images/img/seachBg.png); background-repeat:no-repeat; float:left; padding-left:10px; padding-right:20px;}
.shaixuanWarp{ width:1000px; height:24px; margin-top:6px;}
.shaixuan{ width:103px; height:24px; float:right; position:relative;}
.shaixuan .shaixuanShow{ width:1000px; height:55px; position:relative; display:none; border:1px solid #d4d4d4; top:-5px; left:-895px; background:#f6f6f6; z-index:999;}
.shaixuan:hover .shaixuanShow{ display:block;}
.shaixuan img{ border:0;}
.shaixuan img a{ border:0;}
.row-top{ height:55px; border-bottom:1px solid #d4d4d4; background:#fff;}
.row-top dd{ float:left; margin:20px 25px 0 25px; font-size:16px; color:#838383; }
.row-top dd input{ list-style: none; width:16px; height:16px; border:1px #f6f6f6 solid;vertical-align:middle;}
.row-below{ height:44px;}
.row-below img{ margin-left:10px;}
.map{ height:700px; background:#fff; margin-top:0px; margin-bottom:5px; border-top:1px #ccc solid; border-bottom:1px #ccc solid;}
.pile{ background:#fff; margin-top:0px; margin-bottom:5px; border-top:1px #ccc solid; border-bottom:1px #ccc solid;}
.list{ width:488px; height:180px; border:1px #e2e2e2 solid; margin-top:20px; background:#fff;}
.list:hover{ width:488px; height:180px; border:1px #f80 solid; margin-top:20px; background:#fff;}
.list dl,.list dl dt,.list dl dd{ text-align:center;}
.list dl dt,.list dl dd{ padding:0px 10px;}
.list dl dt{ padding-top:20px;}
.list dl dt img,.list dl dt a img{ border:0;}
/*----地图上的弹出----*/
.list2{ width:488px; height:140px; background:#fff;}
.list2 dl,.list2 dl dt,.list2 dl dd{ text-align:center;}
.list2 dl{position:relative;}
.list2 dl dt,.list2 dl dd{ padding:0px 10px;}
.list2 dl dt{ padding-top:0px;}
.list2 dl dt img,.list2 dl dt a img{ border:0;}
dd.zhuangtai{ font-size:16px; color:#666; line-height:30px;}
dd.zhuangtai span{ font-size:16px; color:#f80;}
dd.P-Name{ font-size:24px; color:#F60; line-height:36px;}
dd.P-Name a{ color:#F60;}
dd.add{ font-size:14px; line-height:14px; color:#666; margin-top:8px;}
/*翻页*/
.fanye{ height:120px;padding:40px 0 0 200px;}
.fanyeMu2{ margin-top:40px; padding-left:200px;}
li.fanyeNav{ width:24px; height:30px; line-height:30px; font-size:16px; color:#FFF; text-align:center; float:left; background-image:url(../images/img/h30.png); background-position: center 0px; background-repeat:no-repeat; margin-right:20px;}
li.fanyeNavLink{cursor:pointer;display:block; width:24px; height:30px; line-height:30px; font-size:14px; color:#333; text-align:center; float:left; background-image:url(../images/img/h30.png); background-position: center -30px; background-repeat:no-repeat;}
li.fanyeNavLink:hover{ display:block; width:24px; height:30px; line-height:30px; font-size:14px; color:#fff; text-align:center; float:left; background-image:url(../images/img/h30.png); background-position: center 0px; background-repeat:no-repeat;}
li.fanyeOFF{ width:60px; height:30px; line-height:30px; font-size:14px; color:#ccc; text-align:center; float:left; background-image:url(../images/img/h30.png); background-position: center -60px; background-repeat:no-repeat; margin-right:20px;}
li.fanyeON{ cursor:pointer;display:block; width:60px; height:30px; line-height:30px; font-size:14px; color:#666; text-align:center; float:left; background-image:url(../images/img/h30.png); background-position: center -60px; background-repeat:no-repeat;}
li.fanyeON:hover{ display:block; width:60px; height:30px; line-height:30px; font-size:14px; color:#fff; text-align:center; float:left; background-image:url(../images/img/h30.png); background-position: center -90px; background-repeat:no-repeat;}


/* ======方案案例=====*/

.case{ background:#fff; text-align:center; padding-bottom:80px;}
.case img{ margin:0 auto;}

/*====站点分布详情页====*/
.detail{ background:#fff;}
.detailHeader{ padding-top:30px; padding-bottom:20px;}
.detailHeader dt{ height:40px; line-height:40px; font-size:24px; color:#333;}
span.biaoshi_zhan{ display:block; width:40px; height:40px; line-height:40px; text-align:center; font-size:14px; font-weight:bold; color:#fff; background-image:url(../images/img/h40w27.png); background-position:left 3px; background-repeat:no-repeat; float:left;}
span.biaoshi_zhuang{ display:block; width:40px; height:40px; line-height:40px; text-align:center; font-size:14px; font-weight:bold; color:#fff; background-image:url(../images/img/h40w27.png); background-position:left -37px; background-repeat:no-repeat; float:left;}
span.shoucang,span.fenxiang{ width:80px; height:40px; line-height:40px; font-size:14px; color:#666; float:right;}
span.shoucang a{ display:block; float:left; width:20px; height:40px; background-image:url(../images/img/shoucang_a.png); background-position:left 12px; background-repeat:no-repeat;}
span.shoucang a:hover{ display:block; float:left; width:20px; height:40px; background-image:url(../images/img/shoucang_h.png); background-position:left 12px; background-repeat:no-repeat;}
span.fenxiang a{ display:block; float:left; width:20px; height:40px; background-image:url(../images/img/fenxiang_a.png); background-position:left 12px; background-repeat:no-repeat;}
span.fenxiang a:hover{ display:block; float:left; width:20px; height:40px; background-image:url(../images/img/fenxiang_h.png); background-position:left 12px; background-repeat:no-repeat;}
span.yishoucang a{ display:block; float:left; width:20px; height:40px; background-image:url(../images/img/shoucang_h.png); background-position:left 12px; background-repeat:no-repeat;}
.detailHeader dd{ color:#666; line-height:22px; font-size:16px; margin-top:10px;}
dd.shuxing { height:80px; margin-top:30px; border-left:1px #ddd solid;}
.shuxingWarp{ height:80px; width:141px; border-top:1px #ddd solid; border-right:1px #ddd solid; border-bottom:1px #ddd solid; float:left;}
.shuxingWarp p{ text-align:center; padding-top:14px;}
.shuxingWarp p strong{ display:block; margin-top:5px; color:#f80;}
.FengZhi{ position:relative;}
.FengZhi .JFPG{ width:286px; height:auto; position:relative; display:none; border:1px solid #fff; top:20px; left:-145px; background:#f6f6f6; z-index:999;}
.FengZhi:hover .JFPG{ display:block;}
.FengZhi a span{ display:block; color:#666}
.JFPG_BOX{ width:286px;}
.JFPG_BOX li{ border-bottom:1px #FFFFFF solid; height:40px; line-height:40px; color:#fff;}
.JFPG_BOX li.Jian{ background:#bc1212;}
.JFPG_BOX li.Feng{ background:#ff8800;}
.JFPG_BOX li.Ping{ background:#474747;}
.JFPG_BOX li.Gu{ background:#207a19;}
.JFPG_BOX li span.JFPG_BOX_l,.JFPG_BOX li span.JFPG_BOX_c,.JFPG_BOX li span.JFPG_BOX_r{ display:block; float:left; text-align:center;font-size:16px}
.JFPG_BOX li span.JFPG_BOX_l{ width:130px; height:40px;}
.JFPG_BOX li span.JFPG_BOX_c{ width:50px; height:40px; border-right:1px #fff solid; border-left:1px #fff solid;}
.JFPG_BOX li span.JFPG_BOX_r{ width:100px; height:40px;}
/*--单个桩体详情--*/
.zhuang{ width:488px; height:260px; border:1px #e2e2e2 solid; margin-top:20px; background:#fff;}
.zhuang span{ font-size:16px;}
.zhuangone{ width:100%; height:260px; border:1px #e2e2e2 solid; margin-top:20px; background:#fff;}
.zhuangone span{ font-size:16px;}
.zhuangUp{ height:260px; border-bottom:1px #e2e2e2 solid;}
.zhuangL,.zhuangC,.zhuangR{ height:260px;}
.zhuangL,.zhuangR{ width:24%;}
.zhuangL{ float:left; border-right:1px #e2e2e2 solid;}

.zhuangOneL,.zhuangOneR{ width:20%;height:260px;}
.zhuangOneL{ float:left; border-right:1px #e2e2e2 solid;}
.zhuangOneR{ float:right; border-left:1px #e2e2e2 solid;}

.zhuangC{ float:left; width:50%; background:url(../images/img/zhuang.png) no-repeat 160px 70px;}
.zhuangC_one{ float:left; width:50%; background:url(../images/img/zhuang.png) no-repeat 400px 70px;}
.zhuangR{ float:right; border-left:1px #e2e2e2 solid;}
.zhuangBot{ height:36px; line-height:36px; font-size:12px; color:#666; padding-left:20px;}
.zhuangSide dd{ border-bottom:1px #e2e2e2 solid;height:86px; text-align:center;}
.zhuangSide dd span{ display:block; padding-top:20px; color:#666;}
.zhuangSide dd span i{ font-style:normal; font-size:12px;}
.zhuangSide dd.zhuangRightTop{}
.zhuangSide dd.zhuangRightOther{ border-bottom:1px #e2e2e2 solid; height:86px;}
span.padd_0{ padding:0;}
.P_fanye{ position:relative;}
.P_fanye_a{ width:30px; height:20px; text-align:center; position:absolute; display:block; background:#ebebeb; top:0px; left:44px; z-index:999;}
.P_fanye_b{ width:30px; height:20px; text-align:center; position:absolute; display:block; background:#ebebeb; top:240px; left:44px; z-index:999;}
.P_fanye_a a,.P_fanye_b a{ display:block; width:30px; height:20px;}
.P_fanye_a a img,.P_fanye_b a img{ border:0; margin-top:5px;}

p.zhuangSideTitle{ display:block; height:35px; line-height:35px; color:#333; font-size:14px;}
p.zhuangSideContent{ display:block; height:50px; line-height:50px; color:#666; background:url(../images/img/le.png) center top no-repeat;font-size:16px;}

.kongxianzhuang{ position:relative;}
.kongxianzhuang .erweima{ width:100px; height:100px; position:relative; display:none; border:1px solid #d4d4d4; top:-70px; left:-90px; background:#f6f6f6; z-index:999; }
.kongxianzhuang:hover .erweima{ display:block;}
.kongxianzhuang a span{ display:block; padding-top:10px;}
.Sequence{ color:#f80;}
.Sequence dt{ height:50px; padding-top:10px; text-align:right;}
.Sequence dd{ padding-right:60px; text-align:center;}
.Sequence dd.fontS48{ height:55px; font-size:48px; font-weight:bold;}
.Sequence dd.fontS48 span{ vertical-align:super; font-size:30px; font-weight:bold;}
.Sequence dd.fontS36{ font-size:36px; font-weight:bold;}
.Sequence dd.fontS24{ font-size:24px; font-weight:bold;}
/*--第三块：：图片：：--*/
.imgShow{ margin-top:40px; border:1px #d4d4d4 solid;}
.imgShow dt{ height:50px; line-height:50px; font-size:24px; background-color:#f6f6f6; color:#6e6e6e; border-bottom:1px #d4d4d4 solid; padding:0px 20px 0px 20px; margin-bottom:20px;}
.imgShow dd{ width:300px; height:200px; border:1px #e7e7e7 solid; margin-top:0px; margin-left:20px; margin-bottom:20px; background:url(../images/img/imgbg.png) no-repeat center center; float:left; }
/*--第三块：：评分：：--*/
.pingfen{ border:1px #d4d4d4 solid; border-top:0px;}
.pingfen dt{ height:50px; line-height:50px; font-size:24px; background-color:#f6f6f6; color:#6e6e6e; border-bottom:1px #d4d4d4 solid; padding:0px 20px 0px 20px; margin-bottom:20px;}
.pingfen dd{ padding-left:20px; margin-bottom:20px;}
.pingfen dd input{ list-style:none; border:0; width:80px; height:36px; background:url(../images/img/inputBg.png) no-repeat center center; font-size:18px; color:#fff;}
.pingfen dd input:hover{ background:url(../images/img/inputBgH.png) no-repeat center center;}
/*--第三块：：评论：：--*/
.pinglun{ border:1px #d4d4d4 solid; border-top:0px;}
.pinglun dt{ height:50px; line-height:50px; font-size:24px; background-color:#f6f6f6; color:#6e6e6e; border-bottom:1px #d4d4d4 solid; padding:0px 20px 0px 20px; margin-bottom:20px;}
.pinglun dt span{ float:right; font-size:16px;}
.pinglun dt span i{ list-style:none; font-style:normal; color:#f80;}
.pinglun dd{ padding-left:20px; margin-bottom:20px;}
.BoxInput{ width:960px; height:200px; border:1px #f80 solid; margin-bottom:20px;}
li.IconStyle{ height:50px; line-height:50px; border-bottom:1px #d4d4d4 solid;}
li.IconStyle img{ margin-top:12px; margin-left:20px; border:0;}
li.IconStyle img a{ border:0;}
li.InputOn{ height:90px; border-bottom:1px #d4d4d4 solid;}
li.InputOn textarea{ list-style:none; border:0; width:95%; height:40px; padding:20px;}
li.user{ padding-top:10px; padding-right:20px; padding-left:20px;}
li.user input{ list-style:none; border:0; width:90px; height:36px; background:url(../images/img/inputBg.png) no-repeat center center; font-size:18px; color:#fff; float:right;}
li.user input:hover{ background:url(../images/img/inputBgH.png) no-repeat center center;}
.userNav{ display:block; width:400px; height:40px; line-height:40px; color:#F80;}
.userNav a{ color:#F80;}
.userNav img{ vertical-align:middle; width:40px; height:40px; border:0px #ccc solid; border-radius:50%; transition:all .4s ease-out; margin-right:10px;}

.PLleft { float: left; width: 60px; border-top:1px #999999 dashed;/* background-color: green;*/}
.PLleft img{ vertical-align:middle; width:40px; height:40px; border:0px #ccc solid; border-radius:50%; transition:all .4s ease-out; margin-top:20px;}
.PLright { border-top:1px #999999 dashed;/* background-color: orange;*/ margin-right:20px; margin-left: 60px;/*==等于左边栏宽度==*/}
.PL,.PL dt,.PLright dd{ list-style:none; margin:0; padding:0; border:0; background:#fff;}
.PL dt{ height:24px; line-height:24px; font-size:16px; color:#f80; margin-top:20px; }
.PL dd.PLContent{ font-size:16px; color:#666; word-wrap:break-word;}
span.time{ display:block; float:left; width:180px; height:30px; line-height:30px; color:#666; font-size:14px; margin-bottom:20px;}
span.dianzhan,span.huifu{ width:80px; height:30px; line-height:30px; font-size:14px; color:#666; float:left;}
span.dianzhan a{ display:block; float:left; width:20px; height:30px; background-image:url(../images/img/dianzhan_a.png); background-position:left 7px; background-repeat:no-repeat;}
span.dianzhan a:hover{ display:block; float:left; width:20px; height:30px; background-image:url(../images/img/dianzhan_h.png); background-position:left 7px; background-repeat:no-repeat;}
span.huifu a{ display:block; float:left; width:20px; height:30px; background-image:url(../images/img/huifu_a.png); background-position:left 7px; background-repeat:no-repeat;}
span.huifu a:hover{ display:block; float:left; width:20px; height:30px; background-image:url(../images/img/huifu_h.png); background-position:left 7px; background-repeat:no-repeat;}
.PL-HF{ margin-left:60px;}
.PL-HFRight{margin-left: 120px;}

/*==活动及资讯==*/
.huodongBanner{ width: 100%; max-width: 1920px; margin: 0 auto; position: relative; height: 400px; overflow-x:hidden;}
.huodongBanner a{ display:block; height:400px;}
.hdChannes{ padding-top:40px; padding-bottom:40px;}
p.Bread{ font-size:24px; color:#666;}

.articleTitle{ text-align:center; font-size:30px; color:#333; height:80px; line-height:80px; border-bottom:1px #ccc solid;}
.articleSubtitle{ text-align:center; font-size:14px; height:50px; line-height:50px; color:#666;}
.article{ line-height:32px; font-size:17px; text-align:center;}
.article p{ text-align:left; text-indent:2em; padding-top:20px;}
.article img{ margin-top:20px; border:1px solid #ddd;}
.article span{ display:block; font-style:normal; font-size:14px; color:#666;}
.ChannelN{ height:30px; line-height:30px; text-align:center; font-size:24px; color:#666; float:left;}
.ChannelN a{ height:30px; line-height:30px; text-align:center; font-size:24px; color:#666; float:left;}
.ChannelN a:hover{ height:30px; line-height:30px; text-align:center; font-size:24px; color:#f80; float:left;}
.back{ padding-top:20px; text-align:center;}
.back img{ border:0;}

/*====个人中心===*/
/*左右两列高度自适应布局*/
.UserLeft { float: left; width: 260px; border-top:1px #dadada solid; border-bottom:1px #dadada solid; border-left:1px #dadada solid; background:#f6f6f6;}
.UserRight {/* background-color: orange;*/ margin-left: 260px;/*==等于左边栏宽度==*/}
/*左侧*/
.UserLeft dl dt{ height:120px; line-height:120px; text-align:center; font-size:24px; color:#666; border-right:1px #dadada solid;}
.UserLeft dl dd{ height:50px; line-height:50px; text-align:center; font-size:16px; color:#666;}
.UserLeft dl dd.UserLeftDd{ color:#f80; background:#fff; border-top:1px #dadada solid; border-right:1px #fff solid; border-bottom:1px #dadada solid; border-left:5px solid #f80; margin-left:20px; padding-right:20px;}/*当前样式UserLeftDd*/
.UserLeft dl dd.UserLeftDd a{ color:#f80;}
.UserLeftDdNav{ border-right:1px #dadada solid;} 
.UserLeftDdNav2{ border-right:1px #dadada solid;} 
.UserLeftDdNav a{ color:#666;}
.UserLeftDdNav a:hover{ color:#f80;}
/*右侧-首页*/
.UserRightWarp{ padding-left:50px;}
.UserRightWarpTwo{ padding-left:30px;}
.Username{ height:60px;}
.Username dl dt{ width:60px; height:60px; float:left;}
.Username dl dt img{ vertical-align:middle; width:60px; height:60px; border:0px #ccc solid; border-radius:50%; transition:all .4s ease-out;}
.UsernameLeft{ width:220px; height:60px; float:left; margin-left:10px;}
.UsernameLeft a{ font-size:16px; color:#666; text-decoration:underline; }
.UsernameMein{ font-size:24px; color:#f80;}
.UsernameMein span{ margin-left:20px;}
.gonggao{ border:1px solid #eee; margin-top:40px; background:#f6f6f6; padding:20px;}
.gonggao span{ color:#f80; margin-right:20px;}
.gonggao dl dd{ height:60px; line-height:60px; text-align:center; color:#666;}

.Module{ margin-top:40px;}
.ModuleTwo,.ModuleThree{ margin-top:0px;}
.Module h1,.ModuleTwo h1,.ModuleThree h1{ list-style:none; font-style:normal; font-size:24px; font-weight:normal; color:#666; margin:0; padding:0;/**/ padding-left:20px; height:50px;}
.Module h1 span,.ModuleTwo h1 span,.ModuleThree h1 span{ font-size:16px; color:#f80;}
.Module dl,.ModuleTwo dl{ border:1px solid #eee; border-bottom:0;/* background:#f6f6f6; padding:20px; */color:#333;}
.Module dl dt,.ModuleTwo dl dt{ height:100px; line-height:100px; line-height:100px; text-align:center; color:#f80; border-bottom:1px solid #e6e6e6;}
.Module dl dd,.ModuleTwo dl dd{ height:40px; line-height:40px; color:#f80;}
.Module dl dd a,.ModuleTwo dl dd a:link,.Module dl dd a:visited,.ModuleTwo dl dd a:visited{ color:#333;}
.Module dl dd a:hover,.ModuleTwo dl dd a:hover{ color:#f80;}
.Module dl dd a:active,.ModuleTwo dl dd a:active{ color:#F66;}
.Module dl dd span{ color:#666; float:right; font-size:14px;}
.TextOne{ background:#fff; padding-left:20px; padding-right:20px; border-bottom:1px solid #e6e6e6; height:50px; line-height:50px;}
.TextTwo{ background:#fff8ef; padding-left:20px; padding-right:20px; border-bottom:1px solid #e6e6e6; height:50px; line-height:50px;}
.ModuleTwo dl dd.zhihui a:link,.ModuleTwo dl dd a:visited{ color:#999; }
.ModuleTwo dl dd.zhihui a:hover{ color:#999;}
.ModuleTwo dl dd.zhihui a:active{ color:#999;}
.ModuleTwo dl dd span{ color:#666; float:right; font-size:14px;font-weight:bold;}
.ModuleTwo dl dd.zhihui span{ color:#999; float:right; font-size:14px;font-weight:normal;}


.ModuleThree dl{ border:0px solid #eee; padding:10px 20px 20px 20px; color:#666;}
.ModuleThree dl dd{ height:50px; line-height:50px; color:#666; margin-bottom:20px; background:#eee;}
span.ModuleName{ color:#333; font-size:18px; font-weight:bold; margin-right:20px;}
.ModuleThree dl dd u{ font-style:normal; text-decoration:none; color:#f80; font-size:14px;}
.ModuleBoxLeft{ float:left; width:140px; height:24px; line-height:24px; font-size:14px; font-weight:normal; text-align:center; border-right:1px solid #ccc; margin-top:10px;}
.ModuleBoxRight{ float:left; height:40px; line-height:40px; font-size:16px; font-weight:normal; padding:0px 0px 0px 40px;}
.ModuleBoxRight img{ vertical-align:middle; width:40px; height:40px; border:0px #ccc solid; border-radius:50%; transition:all .4s ease-out; float:left; margin-top:5px; margin-right:20px;}
a:link.anniu,a:visited.anniu{display:block; width:70px; height:24px; line-height:24px; font-size:14px; color:#fff; text-align:center; background:url(../images/img/w70h24.png) left 0 no-repeat; float:left; margin-top:10px; }
a:hover.anniu{display:block; width:70px; height:24px; line-height:24px; font-size:14px; color:#fff; text-align:center; background:url(../images/img/w70h24.png) left -40px no-repeat; float:left; margin-top:10px;}
a:active.anniu{display:block; width:70px; height:24px; line-height:24px; font-size:14px; color:#fff; text-align:center; background:url(../images/img/w70h24.png) left 0 no-repeat; float:left; margin-top:10px;}
input.w160{ list-style:none; margin:0; padding:0; border:1px solid #ccc; width:160px; height:24px; margin-top:12px; }
input.w120rili{ list-style:none; margin:0; padding:0; border:1px solid #ccc; width:160px; height:24px; margin-top:12px; background:url(../images/img/rili.png) 140px center no-repeat;}
input.w400{ list-style:none; margin:0; padding:0; border:1px solid #ccc; width:400px; height:24px; margin-top:12px; }
select.selectStyle{ width:160px;list-style:none; margin:0; padding:0; height:24px; border:1px solid #ccc; margin-top:12px;}
.tijiao{ height:30px; line-height:30px; font-size:16px; text-align:center; background:url(../images/img/w60h30.png) center 0px no-repeat;}
.tijiao:hover{ height:30px; line-height:30px; font-size:16px; text-align:center; background:url(../images/img/w60h30.png) center -50px no-repeat;}
.tijiao a{ color:#fff;}
.ModuleFour{ margin-top:0px;}
.CC{ color:#666;}
.CC dt{ float:left; font-size:24px; }
.CC dd{ float:right;}
.CC dd a:link,.CC dd a:visited{ display:block; float:right; width:60px; height:30px; line-height:30px; background:url(../images/img/w60h30.png) center 0px no-repeat; margin-left:20px; text-align:center; color:#fff;}
.CC dd a:hover{ display:block; float:right; width:60px; height:30px; line-height:30px; background:url(../images/img/w60h30.png) center -50px no-repeat; margin-left:20px; text-align:center; color:#fff;}
.CC dd a:active{ display:block; float:right; width:60px; height:30px; line-height:30px; background:url(../images/img/w60h30.png) center 0px no-repeat; margin-left:20px; text-align:center; color:#fff;}
.CC dd u{ font-style:normal; text-decoration:none;}
.CC dd span{ font-size:24px; color:#000; font-weight:bold; margin:0 10px;}
.CCTitle{ height:50px;}
.CCNav { width:100px; height:30px; line-height:24px; text-align:left; font-size:24px; color:#666; float:left; margin-right:30px;}
.CCNav .unselect{ width:120px; height:30px; line-height:30px; text-align:center; font-size:16px; color:#fff; float:left; background-image:url(../images/img/liebg.png); background-position:center center; background-repeat:no-repeat;}
.CCNav .unselect:hover{ width:120px; height:30px; line-height:30px; text-align:center; font-size:16px; color:#fff; float:left; background-image:url(../images/img/liebgH.png); background-position:center center; background-repeat:no-repeat;}
.CCContents{ margin-top:20px; border:1px solid #e6e6e6; border-bottom:0;}
.CCContents dt{ height:100px; text-align:center; line-height:100px; color:#f80; border-bottom:1px solid #e6e6e6;}
.CCContents dd{ height:40px; line-height:40px; text-align:center;}
.TablesTitle{ font-size:12px; color:#666; background:#f6f6f6;}
.TablesOne{ background:#fff; font-size:14px; color:#333;}
.TablesTwo{ background:#fff8ef; font-size:14px; color:#333;}
.fenleiA{ display:block; width:17.5%; height:39px; line-height:39px; float:right; border-bottom:1px solid #e6e6e6; border-right:1px solid #e6e6e6;}
.fenleiB{ display:block; width:50%; height:39px; line-height:39px; float:right; border-bottom:1px solid #e6e6e6;}
.fenleiC{ display:block; width:32%; height:39px; line-height:39px; float:right; border-bottom:1px solid #e6e6e6; border-left:1px solid #e6e6e6;}

.ModuleFives{ margin-top:0px;}
.ModuleFives h1{ list-style:none; font-style:normal; font-size:24px; font-weight:normal; color:#666; margin:0; padding:0;/* padding-left:30px;*/ height:50px;}
.SC{ border:1px solid #e6e6e6; margin-bottom:20px;}
.SC dt{ font-size:24px; padding:10px 20px 0px 20px; color:#333;}
.SC dt a{ color:#333;}
dd.SCadd{ font-size:16px; height:30px; line-height:30px; padding:0px 20px 10px 20px; border-bottom:1px solid #e6e6e6; color:#666;}
dd.SCtime{ height:40px; line-height:40px; padding:0px 20px;}
span.SCtimeA{ display:block; float:left; width:220px; font-size:14px; color:#858585;}
span.SCtimeB{ display:block; float:left; width:80px; font-size:16px; text-align:right; }
span.SCtimeB a:link,span.SCtimeB a:visited{ display:block; width:80px; height:40px; color:#666; background:url(../images/img/close.png) left 15px no-repeat;}
span.SCtimeB a:hover{ display:block; width:80px; height:40px; color:#ff5757; background:url(../images/img/close.png) left -25px no-repeat;}
span.SCtimeB a:active{ display:block; width:80px; height:40px; color:#666; background:url(../images/img/close.png) left 15px no-repeat;}



/* 登陆、注册弹出
------------------------------------------------------*/
.LogBox{
    position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1050;
	margin: -260px 0 0 -260px;
	background-color: #fff;
	border: 15px solid #b8b8b8;
	border: 15px solid rgba(184,184,184,0.6);
    *border:15px solid #b8b8b8;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	outline: none;
	-webkit-box-shadow: 0 3px 7px rgba(184,184,184,0.6);
	-moz-box-shadow: 0 3px 7px rgba(184,184,184,0.6);
	box-shadow: 0 3px 7px rgba(184,184,184,0.6);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	width:500px;	
	}
input.w280denglu{ list-style:none; margin:0; padding:0; padding-left:10px; border:0px solid #ccc; background:#e4e4e4; width:260px; height:36px; line-height:36px; font-size:16px;}
input.w100denglu{ list-style:none; margin:0; padding:0; padding-left:10px; border:0px solid #ccc; background:#e4e4e4; width:80px; height:36px; line-height:36px; font-size:16px;}
.wangji{ float:left;}
.lijizhuce{ float:right;}
.wangji,.lijizhuce{ font-size:16px; margin-right:20px;}
.wangji a:link,.lijizhuce a:link,.wangji a:visited,.lijizhuce a:visited{ color:#666;}
.wangji a:hover,.lijizhuce a:hover{ color:#f80;}
.wangji a:active,.lijizhuce a:active{ color:#666;}

/* 登陆、注册弹出样式结束
--------------------------------------------------------------------------------------------------------*/


/*====申请表单====*/
.apply{ background:#fff; padding:50px 0;}
.applyWarp{ width:1000px; margin:0 auto;}
.apply_dTitle{ font-size:24px;}
.applyTltle{ font-size:24px; height:50px; line-height:50px;}
.appluBox{ margin:20px 0 40px 0; font-size:14px;}
.appluBox dt{ height:40px; line-height:40px; font-weight:bold; margin-bottom:10px; padding-left:20px; background:#efefef; border:1px #ececec solid;  font-size:18px;}
.appluBox dd{ height:40px; line-height:40px; margin-top:10px;}
.applyBoxMu{ display:block; float:left; width:140px; height:30px; line-height:30px; border:1px #ececec solid; text-align:center; margin-top:8px; margin-right:20px; background:#f6f6f6;}
.apply_zs{ font-size:16px;}
.apply_qq{ float:right; font-size:14px;}
input.ABM-200{ list-style:none; margin:0; padding:0; padding-left:10px; border:0px solid #ccc; border-bottom:1px #CCCCCC solid; width:200px; height:38px; font-size:14px; color:#f80;}
input.ABM-100{ list-style:none; margin:0; padding:0; padding-left:10px; border:0px solid #ccc; border-bottom:1px #CCCCCC solid; width:100px; height:38px; font-size:14px; color:#f80;}
select.ABM{ height:30px; margin-top:8px; width:155px;}
.liuchengA{ margin-top:30px;}
.liuchengA dt{ width:200px; float:left; text-align:left; height:60px; line-height:55px; font-size:24px; color:#000;}
.liuchengA dd{ width:155px; float:left; text-align:center; height:60px; line-height:55px; color:#ffffff;}
.liuchengBG01{ background:url(../images/img/liucheng_01.png) center center no-repeat;}
.liuchengBG02{ background:url(../images/img/liucheng_02.png) center center no-repeat;}
.liuchengBG03{ background:url(../images/img/liucheng_03.png) center center no-repeat;}
.liuchengB{ padding-bottom:60px; border-bottom:1px #CCCCCC solid;}
.liuchengB dt{ width:200px; float:left; text-align:left; height:60px; line-height:55px; font-size:24px; color:#000;}
.liuchengB dd{ width:155px; float:left; text-align:center; }
.applyTijiao{ width:180px; height:40px; line-height:40px; margin:0 auto; border: 1px solid #f80; border: 1px solid rgba(225,136,0,1); *border:1px solid #f80; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 5px; background:#f80; color:#fff; text-align:center;}
.applyTijiao:hover{ width:180px; height:40px; line-height:40px; margin:0 auto; border: 1px solid #d47100; border: 1px solid rgba(212,113,0,1); *border:1px solid #d47100; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 5px; background:#d47100; color:#fff; text-align:center;}
.applyTijiao a{ display:block; width:180px; height:40px; line-height:40px; color:#ffffff;}
.applyimg{ display:block; float:left; margin-right:10px; border:1px #CCCCCC solid; width:120px; height:80px; line-height:80px; font-size:12px; color:#CCC; text-align:center; margin-bottom:40px;}


.filehidden{position: absolute; filter: alpha(opacity = 0); opacity: 0; width: 30px;}
.applyimg{ display:block; float:left; margin-right:10px; border:1px #CCCCCC solid; width:120px; height:80px; line-height:80px; font-size:12px; color:#CCC; text-align:center; margin-bottom:40px;} 

.ModuleTwo dl.ModuleTwoTitle{ height:30px; border:0; margin-top:20px; margin-bottom:20px;}
.ModuleTwo dl dd.ModuleTwoNav{ width:120px; height:30px; line-height:30px; text-align:left; font-size:24px; color:#333; float:left; margin-left:20px;}
.ModuleTwo dl dd.ModuleTwoNav a.select{ width:120px; height:30px; line-height:30px; text-align:center; font-size:16px; font-weight:normal; color:#fff; float:left; background-image:url(../images/img/liebg.png); background-position:center center; background-repeat:no-repeat;}
.ModuleTwo dl dd.ModuleTwoNav a.select:hover{ width:120px; height:30px; line-height:30px; text-align:center; font-size:16px; font-weight:normal; color:#fff; float:left; background-image:url(../images/img/liebgH.png); background-position:center center; background-repeat:no-repeat;}
 
 
/**我的消息**/
.TextOne{ background:#fff8ef; padding-left:20px; padding-right:20px; border-bottom:1px solid #e6e6e6; height:50px; line-height:50px;}
.zhihui{ background:#fff; padding-left:20px; padding-right:20px; border-bottom:1px solid #e6e6e6; height:50px; line-height:50px;}

.ModuleTwo dl dd.TextOne a:link,.ModuleTwo dl dd.TextOne a:visited{ color:#333;}
.ModuleTwo dl dd.TextOne a:hover{ color:#f80;}
.ModuleTwo dl dd.TextOne a:active{ color:#F66;}
.ModuleTwo dl dd.zhihui a:link,.ModuleTwo dl dd.zhihui a:visited{ color:#999;}
.ModuleTwo dl dd.zhihui a:hover{ color:#999;}
.ModuleTwo dl dd.zhihui a:active{ color:#999;}
.ModuleTwo dl dd span{ color:#666; float:right; font-size:14px;}
.ModuleTwo dl dd.zhihui span{ color:#999; float:right; font-size:14px;}
.ModuleTwo h2,.ModuleTwo h3{ font-style:normal; text-align:center; padding:0; margin:0;}
.ModuleTwo h2{ border-bottom:#999 dashed 1px; padding-bottom:10px;}
.ModuleTwo h3{ font-size:14px; font-weight:normal; color:#999; margin-top:10px;}
.ModuleTwo h3 span{ margin-right:20px; margin-left:20px;}
.ModuleTwo p{ margin-top:20px; color:#666;}

.ModuleTwo dl.ModuleTwoTitle{ height:30px; border:0; margin-top:20px; margin-bottom:20px;}
.ModuleTwo dl dd.ModuleTwoNav{ width:120px; height:30px; line-height:30px; text-align:left; font-size:24px; color:#333; float:left; margin-left:20px;}
.ModuleTwo dl dd.ModuleTwoNav a:link,.ModuleTwo dl dd.ModuleTwoNav a:visited{ width:120px; height:30px; line-height:30px; text-align:center; font-size:16px; font-weight:normal; color:#fff; float:left; background-image:url(../images/img/liebg.png); background-position:center center; background-repeat:no-repeat;}
/* .ModuleTwo dl dd.ModuleTwoNav a:hover{ width:120px; height:30px; line-height:30px; text-align:center; font-size:16px; font-weight:normal; color:#fff; float:left; background-image:url(../images/img/liebgH.png); background-position:center center; background-repeat:no-repeat;}
 */





a:link.anniu,a:visited.anniu{display:block; width:70px; height:24px; line-height:24px; font-size:14px; color:#fff; text-align:center; background:url(../images/img/w70h24.png) left 0 no-repeat; float:left; margin-top:10px; }
a:hover.anniu{display:block; width:70px; height:24px; line-height:24px; font-size:14px; color:#fff; text-align:center; background:url(../images/img/w70h24.png) left -40px no-repeat; float:left; margin-top:10px;}
a:active.anniu{display:block; width:70px; height:24px; line-height:24px; font-size:14px; color:#fff; text-align:center; background:url(../images/img/w70h24.png) left 0 no-repeat; float:left; margin-top:10px;}

.UserRight {/* background-color: orange;*/ margin-left: 260px;/*==等于左边栏宽度==*/}
.UserRightWarp{ padding-left:50px;}
.UserRightWarpTwo{ padding-left:30px;}


#container { padding:170px 10px 45px 10px; width:1160px; margin:0 auto; z-index:1; position:relative; }
#container2 { padding:125px 0px 0px 0px; margin:0 auto; z-index:1; position:relative; }
.col1-2 { width:460px; padding:0 20px 0 0; float:left; }
.col1-3 { width:300px; padding:0 20px 0 0; float:left; }
.col2-3 { width:620px; padding:0 20px 0 0; float:left; }
.col1-4 { width:220px; padding:0 20px 0 0; float:left; }
.col3-4 { width:85%; padding:0 20px 0 80px; float:left; }
.col4-4 { width:350px; margin:0; padding:0; float:right; }
.content { width:1160px; }
.content p.content_main{ line-height:36px; font-size:16px; text-indent:2em;}
.content h2 { padding-bottom:84px; font-size:30px;}
.content h2.no-subtext { padding-bottom:0px; }
.content h2.second { padding-top:41px; display:inline-block; position:relative; width:100%; font-size:60px; line-height:60px; }
.content h2 input.search{ width:280px; height:28px; background:#cccccc; float:right; margin-top:15px; font-size:18px; color:#666;}
.content h2 span.searchSB{ display:block; float:right; margin-top:15px;}
.content h2 span.searchSB img{ border:0px;}
.content h3 { padding:41px 0 17px 0;  font-size:24px;}
.content h3 a { text-decoration:none; color:#000; }
.content h3 a:hover { text-decoration:none; color:#ff8300; }
.content h4 { padding:5px 0 4px 0; font-size:16px; line-height:32px;}
.content h4 a { text-decoration:none; color:#000; }
.content h4 a:hover { text-decoration:none; color:#ff8300; }
.content p { line-height:20px; width:auto; }
.content p.large { line-height:24px; font-size:14px; }
.content p a.button { display:inline-block; padding:4px 16px 6px 15px; padding:5px 16px 5px 15px\9; background:url(../images/buttons/bg-button.jpg) repeat-x; border-bottom:0px; border:1px solid #206d9e; color:#fff; margin:5px 0 4px 0; }
.content p a.button:hover { background:url(../images/buttons/bg-buttonHover.jpg) repeat-x; }
ul.list, ul.check, ul.normal { padding:3px 0 2px 0; }
.normal li { display:block; line-height:20px; padding:2px 0; }
.list li { background:url(../images/list-bullet.png) 10px 10px no-repeat; display:block; padding:2px 0; padding-left:27px; line-height:20px; }
.check li { background:url(../images/list-check.png) 9px 9px no-repeat; display:block; padding:2px 0; padding-left:27px; line-height:20px; }
.list li a, .check li a, .normal li a { color:#ff8300; text-decoration:none; border-bottom:1px dotted #ff8300; }
.no-deco li a { color:#363636; text-decoration:none; border-bottom:0px dotted #ff8300; }
.list li a:hover, .check li a:hover, .normal li a:hover { text-decoration:none; border-bottom:1px solid #ff8300; }
.no-deco li a:hover { color:#ff8300; text-decoration:none; border-bottom:0px dotted #ff8300; }
.pics { background:#fff; padding:4px; margin:10px 0px 10px 0; text-align:center;}
.pics img{ height: expression(this.width > 290 ? this.height = this.height * 290 / this.width : "auto"); width: expression(this.width > 750 ? "750px" : "auto");
max-width:750px;}
.infobox { background:#fff; border:#d2d2d2 1px solid; padding:20px; margin:10px 0px 10px 0; }
.infobox { background:#fff; border:#d2d2d2 1px solid; padding:20px; margin:10px 0px 10px 0; }
.padding-top { padding-top:35px; }
.padding-right { padding-right:15px;padding-top:10px; }
.alignleft { float:left; }
.alignright { float:right; }
.aligncenter { margin:auto; display:block; }
.alignnone { clear:both; font-size:0; line-height:0; margin:0; padding:0; border:0; height:0; width:0; }

/* sixin */
.sixin{ border-top:1px solid #CCC;}
.sixin li{ border-bottom:1px solid #CCC; padding:20px 20px;}
.sixinTime{ display:block; font-size:14px; color:#666; margin-bottom:5px;}
.sixinUserName{ display:block; color:#333; margin-bottom:10px; font-size:16px;}
.sixinUserName a{ color:#F80;}
.sixinText{ font-size:16px; line-height:24px;}
.sixinJieguo{ float:right; margin-right:20px; font-size:16px;}
.sixinHD{ padding:0px;}


/*gongyong*/
.borderB{ border-bottom:1px #ccc solid;}
.w1000{ width:1000px; margin:0 auto;}
.w800{ width:800px; text-align:left;}
.Black{ color:#4e4e4e;}
.Green{ color:#37a40c;}
.Red{ color:#F00;}
.Blue{ color:#0060ff;}
.Orange{ color:#f80;}
.ChannelContent{ width:1000px; margin:0 auto;}
.mar_top10{ margin-top:10px;}
.mar_top20{ margin-top:20px; *margin-top:50px;}
.pad_bot50{ padding-bottom:50px;}
.pad_top50{ padding-top:50px;}
.pad_bot20{ padding-bottom:20px;}
.pad_0{ padding:0;}
.mar_0{ margin:0;}
.floatL{ float:left;}
.floatR{ float:right;}
.H80{ width:auto; height:80px;}

#showErweima{ border:1px solid #d4d4d4; background:#f6f6f6; position:absolute; width:82; height:80; padding:4px 4px; z-index:999;}
ul,ol,li{ margin:0; padding:0; border:0; list-style:none;}
.scrollList { height:330px; overflow:hidden; width:100%;}
.scrollList ol{ margin:0; padding:0;border:0; list-style:none;}