<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 改版之后的申请列表 -->
<mapper namespace="com.wanma.dubbox.dao.TblCardapplicationformMapper">
	<resultMap id="tblCardapplicationformMap" type="TblCardapplicationform">
		<id property="id" column="pk_CardApplicationForm" />
		<result property="uid" column="caf_User_Id" />
		<result property="pho" column="caf_phone" />
		<result property="name" column="caf_real_name" />
		<result property="eml" column="caf_email" />
		<result property="adr" column="caf_address" />
		<result property="ic" column="caf_idcard" />
		<result property="sex" column="caf_sex" />
		<result property="btd" column="caf_birthday" />
		<result property="carCom" column="caf_car_company_id" />
		<result property="carTp" column="caf_car_type_id" />
		<result property="vln" column="caf_vehicle_number" />
		<result property="pln" column="caf_plate_num" />
		<result property="cdNum" column="caf_usercard" />
		<result property="sts" column="caf_Status" />
		<result property="cdate" column="createdate" />
		<result property="udate" column="updatedate" />
	</resultMap>

	<insert id="insert" parameterType="TblUserCard"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		tbl_cardapplicationform (
		caf_User_Id,
		caf_phone,
		caf_real_name,
		caf_email,
		caf_address,
		caf_idcard,
		caf_sex,
		caf_birthday,
		caf_car_company_id,
		caf_car_type_id,
		caf_vehicle_number,
		caf_plate_num,
		caf_usercard,
		caf_Status,
		createdate,
		updatedate
		)values (
		#{uid},
		#{pho},
		#{name},
		#{eml},
		#{adr},
		#{ic},
		#{sex},
		#{btd},
		#{carCom},
		#{carTp},
		#{vln},
		#{pln},
		#{cdNum},
		#{sts},
		sysdate(),
		sysdate()
		)
	</insert>

	<update id="update" parameterType="TblUserCard">
		update tbl_cardapplicationform set
		<if test="sts != null"> caf_Status=#{sts},</if>
		<if test="cdNum != null"> caf_usercard=#{cdNum},</if>
		updatedate=sysdate()
		where 1=1
		<if test="id !=null">and pk_CardApplicationForm=#{id}</if>
		<if test="pkIds != null">
			and pk_CardApplicationForm in
			<foreach item="item" index="index" collection="pkIds" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
	</update>

	<select id="selectOne" parameterType="TblCardapplicationform"
		resultMap="tblCardapplicationformMap">
		SELECT ${rtColumns}
		FROM tbl_cardapplicationform t
		where
		t.pk_CardApplicationForm=#{id}
	</select>

	<select id="getCount" parameterType="TblCardapplicationform"
		resultType="int">
		SELECT count(1) FROM tbl_cardapplicationform t
		where 1=1
		<if test="cdNum !=null and cdNum !=''">and t.caf_usercard like concat('%',#{cdNum},'%')</if>
		<if test="name !=null and name !=''">and t.caf_real_name like concat('%',#{name},'%')</if>
		<if test="slcBgDate !=null and slcBgDate !=''">
			<![CDATA[AND TO_DAYS(createdate) >= TO_DAYS(#{slcBgDate})]]>
		</if>
		<if test="slcEdDate !=null and slcEdDate !=''">
			<![CDATA[AND TO_DAYS(createdate) <= TO_DAYS(#{slcEdDate})]]>
		</if>
	</select>

	<select id="getList" parameterType="TblCardapplicationform"
		resultMap="tblCardapplicationformMap">
		SELECT ${rtColumns}
		FROM tbl_cardapplicationform t
		where 1=1
		<if test="cdNum !=null and cdNum !=''">and t.caf_usercard like concat('%',#{cdNum},'%')</if>
		<if test="name !=null and name !=''">and t.caf_real_name like concat('%',#{name},'%')</if>
		<if test="slcBgDate !=null and slcBgDate !=''">
			<![CDATA[AND TO_DAYS(createdate) >= TO_DAYS(#{slcBgDate})]]>
		</if>
		<if test="slcEdDate !=null and slcEdDate !=''">
			<![CDATA[AND TO_DAYS(createdate) <= TO_DAYS(#{slcEdDate})]]>
		</if>
		order by updatedate desc
		<if test="pager!=null">limit #{pager.offset},#{pager.numPerPage}</if>
	</select>

</mapper>