
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.header .search {
    
    height: 44px !important;
}


.content{
	width: 1010px;
	height: 555px;
	background-color: #ededed;
	border-radius:15px;
	margin: 0 auto
	
	
}

.pic-left,.content-right{
	width: 50%;
	height: 100%;
	float: left;
	
}


.pic-left img{
		margin: 70px 60px;
	}
	
	
.login-detail{
	margin-top: 65px;
	margin-left: 60px;
	
}
.login-detail h3{
	font: 24px;
	color: #5f5f5f;
}
.login-detail p{
	width: 338px;
	height: 53px;
	border-radius: 12px;
	border: 1px solid #cccccc;
	background-color:#ffffff;
	position: relative;
	text-align: center;
	line-height: 50px;
	margin-top: 14px;
}

.login-detail img{
	position: absolute;
	top: 11px;
	left: 11px;	
	float: left;
}
.login-detail input{
	float: right;
	width: 280px;
	line-height: 43px;
	height:43px;
	/*outline: none;*/
	background-color: transparent;
	border: none;
	border-left: 1px solid #ffffff;
	font-size: 14px;
	
}
.checkid{
	position: relative;
	width: 200px !important ;	
		
}
.checkid input{
	float: right;
	width: 130px;
	line-height: 43px;	
	background-color: transparent;
	border: none;	
	font-size: 14px;
}

#check-img{
	position:absolute ;
	top:10px;
	left: 215px;
	
}
.login-detail a{
	margin-left: 100px;
	color: #fa6b3c;
	text-align: center;	
	font-size: 14px;
	width: 350px;
}
.login-detail a.lg-bt{
	color: #fff;
	margin-left: 0;
	display:inline-block;
	width: 100%;
	height:100%;
}
.login-detail a.lg-zc{
	color: #fa6b3c;
	display:inline-block;
	width: 100%;
	height:100%;
}
.btn-login{
		
		background-color: #f0830f !important;
	
}
.btn-register{
	border: 1px solid #f0830f !important ;
	
}
